<app-header></app-header>
<div class="headerBg"></div>

<div class="container-fluid mt-5 mb-5">

    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-lg-9">
                        <h4 class="m-0 fw-bold"> My Orders</h4>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <input class="ms-2 form-control" [(ngModel)]="searchQuery" type="search"
                                placeholder="Search here..." aria-label="Search">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container ">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a (click)="activeTab='new'" class="nav-link active" data-bs-toggle="tab" href="#home">New Orders
                    <span class="badge bg-success">12</span>
                </a>
            </li>
            <li (click)="activeTab='history'" class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu1">
                    History Orders
                    <span class="badge bg-success">20</span>
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="allOrders.length" class="container mt-3">
        <table class="table table-bordered table-striped table-hover shadow-sm round"
            style="border: 1px solid rgb(234, 232, 232);">
            <thead>
                <tr>
                    <th class="text-center">No.</th>
                    <th class="text-center">Order Id</th>
                    <th class="text-center">Total Price</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Created On</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            <tbody>
                <ng-container
                    *ngFor="let order of allOrders |paginate:{itemsPerPage: itemPerPage, currentPage: p}  ; index as i">
                    <tr *ngIf="matchesSearchQuery(order)">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{order.orderId}}</td>
                        <td class="text-center">${{order.total}}</td>
                        <td style="text-transform: capitalize;" class="text-center">{{order?.status ||
                            'Pending'}}</td>
                        <td class="text-center">{{order.createdOn | date :'mediumDate'}}</td>
                        <td class="text-center">
                            <button (click)="orderDetail(order)" style="font-size: 11px;"
                                class="btn btn-sm ms-1 btn-primary">
                                Detail</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div class="container-fluid  text-end mt-3 mb-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

    <p class="text-center mt-5 mb-5" *ngIf="!allOrders.length">No order found!</p>

</div>
<app-footer></app-footer>