<div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="team-area default-padding bottom-less">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2">
								<div class="site-heading text-center">
									<h4>EXPERT TEAM</h4>
									<h2>Meet Our Leadership</h2> </div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="team-items text-center">
							<div class="row">
								<div class="single-item col-lg-4 col-md-6">
									<div class="item">
										<div class="thumb"> <img src="assets/img/team/1.jpg" alt="Thumb">
											<div class="social">
												<input type="checkbox" id="toggle" class="share-toggle" hidden="">
												<label for="toggle" class="share-button"> <i class="fas fa-plus"></i> </label>
												<a href="#" class="share-icon facebook"> <i class="fab fa-facebook-f"></i> </a>
												<a href="#" class="share-icon twitter"> <i class="fab fa-twitter"></i> </a>
												<a href="#" class="share-icon instagram"> <i class="fab fa-instagram"></i> </a>
											</div>
										</div>
										<div class="info">
											<h4><a href="https://wordpressriverthemes.com/tanda/team-single/">Sporia Deko</a></h4> <span>Marketing</span> </div>
									</div>
								</div>
								<div class="single-item col-lg-4 col-md-6">
									<div class="item">
										<div class="thumb"> <img src="assets/img/team/2.jpg" alt="Thumb">
											<div class="social">
												<input type="checkbox" id="toggle-1" class="share-toggle" hidden="">
												<label for="toggle-1" class="share-button"> <i class="fas fa-plus"></i> </label>
												<a href="#" class="share-icon facebook"> <i class="fab fa-facebook-f"></i> </a>
												<a href="#" class="share-icon twitter"> <i class="fab fa-twitter"></i> </a>
												<a href="#" class="share-icon instagram"> <i class="fab fa-instagram"></i> </a>
											</div>
										</div>
										<div class="info">
											<h4><a href="https://wordpressriverthemes.com/tanda/team-single/">Sporia Deko</a></h4> <span>Marketing</span> </div>
									</div>
								</div>
								<div class="single-item col-lg-4 col-md-6">
									<div class="item">
										<div class="thumb"> <img src="assets/img/team/3.jpg" alt="Thumb">
											<div class="social">
												<input type="checkbox" id="toggle-3" class="share-toggle" hidden="">
												<label for="toggle-3" class="share-button"> <i class="fas fa-plus"></i> </label>
												<a href="#" class="share-icon facebook"> <i class="fab fa-facebook-f"></i> </a>
												<a href="#" class="share-icon twitter"> <i class="fab fa-twitter"></i> </a>
												<a href="#" class="share-icon instagram"> <i class="fab fa-instagram"></i> </a>
											</div>
										</div>
										<div class="info">
											<h4><a href="https://wordpressriverthemes.com/tanda/team-single/">Sporia Deko</a></h4> <span>Marketing</span> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>