<div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="team-area default-padding bottom-less">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2">
								<div class="site-heading text-center">
									<h4>EXPERT TEAM</h4>
									<h2>Meet Our Leadership</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="team-items text-center">
							<div class="row">
								<div *ngFor="let member of team; index as i" class="single-item col-lg-4 col-md-6">
									<div class="item rounded">
										<div class="thumb shadow rounded"> <img [src]="member.imageUrl" alt="Thumb">
											<div class="social">
												<input type="checkbox" id="{{'toggle' + i}}" class="share-toggle"
													hidden="">
												<label for="{{'toggle' + i}}" class="share-button">
													<i class="fas fa-plus"></i>
												</label>
												<a [attr.href]="member.linkedIn" target="_blank"
													class="share-icon instagram"> <i class="fab fa-linkedin"></i> </a>
											</div>
										</div>
										<div class="info">
											<h4>{{member.name}}</h4>
											<span>{{member.designation}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>