<nav class="navbar navbar-expand-sm bg-dark navbar-dark px-3">
    <div class="container-fluid">
        <div class="navbar-brand pointer" routerLink="/home">
            <img src="./assets/images/logo.png">
            <h5 *ngIf="key === 'e-shop'" class="text-white">Soft Sync <br>Products</h5>
            <h5 *ngIf="key !== 'e-shop'" class="text-white">Soft Sync <br>Technologies</h5>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <!-- <li [routerLink]="['/home']" [routerLinkActive]="'isActive'" class="nav-item px-2 pointer">
                    <a class="nav-link text-white text-uppercase">Home</a>
                </li> -->
                <li [routerLink]="['/home']" [routerLinkActive]="'isActive'" class="nav-item px-2 pointer">
                    <a class="nav-link text-white text-uppercase">E-Shop</a>
                </li>
                <li [routerLink]="['/services']" [routerLinkActive]="'isActive'" class="nav-item px-2 pointer">
                    <a class="nav-link text-white text-uppercase">IT Services</a>
                </li>
                <li [routerLink]="['/our-team']" [routerLinkActive]="'isActive'" class="nav-item px-2 pointer">
                    <a class="nav-link text-white text-uppercase">Team</a>
                </li>
                <li [routerLink]="['/projects']" [routerLinkActive]="'isActive'" class="nav-item px-2 pointer">
                    <a class="nav-link text-white text-uppercase">Projects</a>
                </li>
                <li [routerLink]="['/contact-us']" [routerLinkActive]="'isActive'" class="nav-item px-2 pointer">
                    <a class="nav-link text-white text-uppercase">Contact Us</a>
                </li>
                <li class="nav-item px-2 pointer">
                    <a *ngIf="!userAuth.currentUser?.uid" class="nav-link text-white text-uppercase loginSignup">
                        <i class="fa fa-user me-2"></i>
                        <span routerLink="/login">Login</span>
                        <span class="px-2">|</span>
                        <span routerLink="/signup">Signup</span>
                    </a>
                    <a *ngIf="userAuth.currentUser?.uid" class="nav-link text-white text-uppercase loginSignup">
                        <i class="fa fa-user me-2"></i> {{userAuth.currentUser.firstName | titlecase}}
                    </a>
                </li>
                <li class="nav-item px-2 pointer">
                    <div class="dropdown">
                        <button class="btn btn-link text-white p-0">
                            <i style="font-size: 23px;" class="bi bi-cart"></i>
                            <span class="badge bg-primary">{{ apiService.getCartItemsCount() }}</span>
                        </button>
                        <div class="dropdown-content shadow p-3">
                            <div *ngFor="let item of apiService.cartItems" class="row border-bottom mb-3">
                                <div class="d-flex p-0">
                                    <img class="productImg" [src]="item.picture">
                                    <div style="width: 100%;">
                                        <p class="description my-1">{{item.name}}</p>
                                        <p class="price">
                                            <span class="text-secondary">{{item.quantity}}</span> X
                                            {{ apiService.getOneItemTotalPrice(item) | currency: 'USD' }}
                                            <span (click)="removeItem(item)"
                                                class="float-end pointer text-danger">X</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-check">
                                <input [(ngModel)]="ageedToTerms" class="form-check-input radio-input pointer"
                                    type="checkbox" name="agreeToTerms" id="agreeToTerms">
                                <label class="form-check-label pointer" for="agreeToTerms">
                                    <small>I agree with the terms and conditions</small>
                                </label>
                            </div>
                            <button routerLink="/checkout" [disabled]="!ageedToTerms || !apiService.cartItems.length"
                                class="btn btn-success w-100 my-3">Checkout Now</button>
                            <button (click)="openCartDialog()" class="btn btn-outline-primary w-100">View Cart</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>