<header id="home">
    <nav class="navbar navbar-default inc-topbar navbar-fixed white bootsnav on menu-center no-full no-background">
        <div class="appLogo">
            <img class="mt-2" src="./assets/img/logo.png">
            <h4 class="text-white m-3" style="line-height: 1.4;">Soft Sync <br /> Technologies</h4>
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse">
            <ul id="menu-home-version-5-onepage" class="nav navbar-nav navbar-center float-right">
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-518"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-518 nav-item"><a
                        title="Home" href="#home" class="nav-link active">Home</a></li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-519"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-519 nav-item"><a
                        title="Services" href="#service" class="nav-link">Services</a></li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-520"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-520 nav-item"><a
                        title="About" href="#about" class="nav-link">Team</a></li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-521"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-521 nav-item"><a
                        title="Case Studies" href="#case" class="nav-link">Projects</a></li>
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-522"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-522 nav-item"><a
                        title="Team" href="#team" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <!-- Start Banner 
    ============================================= -->
                <div
                    class="banner-area home2-banner-fix content-less bottom-shape bg-gradient text-light center-item text-color">
                    <!-- Fixed Shape -->
                    <div class="fixed-shape">
                        <img src="assets/img/shape/waves-shape.svg" alt="Shape">
                    </div>
                    <!-- End Fixed Shape -->
                    <div class="item">
                        <div class="container">
                            <div class="row align-center">

                                <div class="col-lg-6">
                                    <div class="content">
                                        <h4 class="wow fadeInLeft"
                                            style="visibility: visible; animation-name: fadeInLeft;">IT Software &amp;
                                            Design</h4>
                                        <h2 class="wow fadeInDown"
                                            style="visibility: visible; animation-name: fadeInDown;">Creating a better
                                            <strong>IT solutions</strong>
                                        </h2>
                                        <div class="bottom">
                                            <a class="wow fadeInUp btn circle btn-light border btn-md"
                                                href="https://creativedigital.tech/tandawordpress/services-version-one/"
                                                style="visibility: visible; animation-name: fadeInUp;">Start Now</a>
                                            <a class="popup-youtube relative video-play-button"
                                                href="https://www.youtube.com/watch?v=owhuBrGIOsE">
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 thumb">
                                    <img class="wow fadeInUp" src="assets/img/illustration/5.png" alt="Thumb"
                                        style="visibility: visible; animation-name: fadeInUp;">
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Fixed Shape -->
                    <div class="fixed-shape-bottom">
                        <img src="assets/img/shape/13.png" alt="Shape">
                    </div>
                    <!-- End Fixed Shape -->
                </div>
                <!-- End Banner -->
            </div>
        </div>
    </div>
</div>