<app-header></app-header>
<div class="headerBg"></div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div *ngIf="cartItems.length > 0; else emptyCart">
                <h2 class="mb-4">My Cart <i class="bi bi-cart"></i>
                    <button data-bs-toggle="modal" data-bs-target="#clearCartModal"
                        class="btn btn-danger btn-sm float-end me-3">
                        <i class="fa fa-trash me-1"></i> Empty Cart
                    </button>
                </h2>
                <div class="row text-center">
                    <div class="col-md-12" *ngFor="let item of cartItems">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="item.imageUrls[0]" class="img-fluid rounded-start">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title | titlecase }} <span
                                                class="badge bg-secondary">{{
                                                item.quantity }}</span></h5>
                                        <p class="card-text">{{ item.description }}</p>
                                        <p class="card-text">
                                            {{ item.price | currency: 'USD' }} X {{ item.quantity }} =
                                            {{ apiService.getOneItemTotalPrice(item) | currency: 'USD' }}
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-outline-danger me-1" (click)="removeOne(item)"><i
                                                    class="bi bi-dash"></i></button>
                                            <button class="btn btn-outline-success" (click)="addToCart(item)"><i
                                                    class="bi bi-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-end pe-2">
                    <button class="btn btn-secondary me-3" (click)="continueShopping()">
                        <i class="fa fa-store me-2"></i> Continue Shopping
                    </button>
                    <button class="btn btn-primary" (click)="proceedToCheckout()">
                        <i class="fa fa-wallet me-2"></i> Proceed to Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyCart>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-4 text-center mt-5 mb-5">
                <img style="width: 200px;"
                    src="https://img.freepik.com/premium-vector/shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.jpg">
                <p class="mt-3">No items in your cart</p>
                <button routerLink="/e-shop" class="btn btn-primary w-100">
                    <i class="fa fa-store me-2"></i> Shop Now
                </button>
            </div>
        </div>
    </div>
</ng-template>

<div class="modal fade" id="clearCartModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Empty Cart</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Are you sure you want to empty your cart?</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button (click)="clearCart()" type="button" class="btn btn-danger"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>