<app-header></app-header>
<div class="headerBg"></div>

<div class="slidingFixedBanner" style="background-image: url('../../assets/images/team-banner.jpeg');">
    <div class="overlayBanner"></div>
</div>

<div class="teamsSection my-5">
    <div class="container px-5 pb-5">
        <div class="row">
            <div class="site-heading col-md-12 mb-5 pb-5">
                <div class="text-center">
                    <h2 class="text-uppercase bold primary">Expert Team</h2>
                    <h3 class="bold text-dark my-3 pb-3">Meet Our Leadership</h3>
                </div>
            </div>
            <div *ngFor="let member of dataHelper.ourTeam; index as i" class="single-item col-lg-4 col-md-8">
                <app-team [member]="member" [index]="i"></app-team>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>