<app-header></app-header>
<div class="homeHeader">
    <div class="absoluteContainer">
        <div class="bannerContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h4 class="animate__animated animate__fadeInDown text-white">We are the best seller at Amazon.</h4>
                        <h2 class="animate__animated animate__fadeInLeft text-white mb-5">
                            Search<br /> <strong>Amazing Products</strong>
                        </h2>
                        <a class="animate__animated animate__fadeInUp btn btn-outline-light"
                            href="https://softsynctechnologies.com/e-shop">Shop Now
                        </a>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <img class="animate__animated animate__fadeIn techIllustration" src="./assets/images/movingcart.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-shape">
        <img src="./assets/images/waves-shape.svg" alt="Shape">
    </div>
</div>
<app-products></app-products>
<app-footer></app-footer>
