.rtin-item {
    margin-bottom: 1.75rem;
    padding: 3.75rem 2.5rem 1.875rem;
    position: relative;
    background-color: #f9f8ff;
    border-radius: 0.25rem;
}
.rtin-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #473f6f;
    opacity: 0.03;
    width: calc(100% - 40px);
    bottom: -0.9375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    border-radius: 0.25rem;
}
.rtin-item .media {
    margin-bottom: 1.475rem;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.rtin-item .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 4.375rem;
    right: 3.125rem;
}
ul.rating {
    margin-bottom: 15px;
    padding: 0;
}
.rtin-item .rtin-icon {
    position: absolute;
    z-index: 0;
    right: 2.5rem;
    bottom: 1.5625rem;
    color: #000;
    opacity: 0.05;
}
.media-body {
    margin-left: 10px;
}
.rtin-title {
    margin: 0px;
}
.rtin-testimonial-3 .rtin-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #473f6f;
    opacity: 0.03;
    width: calc(100% - 40px);
    bottom: -0.9375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
    border-radius: 0.25rem;
}
.rtin-testimonial-3 .rtin-item:after {
    content: "";
    position: absolute;
    z-index: -2;
    background-color: #473f6f;
    opacity: 0.03;
    height: 100%;
    width: calc(100% - 80px);
    bottom: -1.875rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 0.25rem;
}

.rtin-thumb {
    .attachment-thumbnail {
        border-radius: 30%;
    }
}
