.heading {
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #ffffff !important;
    line-height: 1 !important;
}

.paragraph {
    font-size: 1rem !important;
    margin-top: 1.5rem !important;
    line-height: 1.5rem !important;
    color: #e3e4e6 !important;
}

.images {
    height: 50px !important;
    width: 50px !important;
    object-fit: cover !important;
    border-radius: 25px !important;
}

.para {
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}

@media (max-width: 768px) {
    .card {
        text-align: center !important;
    }

    .columnImage {
        display: none !important;
    }

    .p-5 {
        padding: 0 !important;
    }

    .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    form {
        padding: 0 !important;
    }

    .col-md-6 {
        padding: 0 !important;
    }

    .body {
        margin-left: 0 !important;
    }

    .container-fluid {
        margin-left: -40px !important;
        padding: 0 !important;
    }

    .cards {
        height: 400px !important;

        .card-body {
            padding: 20px;
        }
    }

    .image {
        margin-top: 3.5rem !important;
    }

    h1 {
    }

    .col-lg-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    h2 {
        margin-top: 0 !important;
        font-size: 1.25rem !important;
    }

    .email {
        margin: 0 !important;
    }

    .button {
        margin-top: 4px !important;
    }

    .visitButton {
        width: 125px !important;
    }

    .heading {
        font-size: 1.25rem !important;
    }

    .socialTitle {
        font: 12px !important;
    }

    .socialCard {
        height: 500px !important;

        .car-body {
            padding: 1rem 1rem !important;
        }
    }

    .socialbtn {
        width: 190px !important;

        p {
            font-size: 12px !important;
        }
    }

    .copyLinkCard {
        text-align: center !important;
    }

    .linkButton {
        margin-top: 15px !important;
        text-align: center !important;
    }

    .title {
        text-align: center !important;
    }
}
