<app-header></app-header>
<div class="headerBg"></div>

<div class="row px-5 main-container">

    <div class="col-lg-6 px-5 left-column mt-4">

        <p class="mt-3 mb-3 text-center gray">Express checkout</p>
        <div class="row ">
            <div class="col-lg-3 p-1">
                <button style="background: rgb(89 47 244) !important;" class="btn paymentButton">
                    <img style="height: 40px;width: 80px;object-fit: contain;" src="../../assets/images/shoppay.png">
                </button>
            </div>
            <div class="col-lg-3 p-1">
                <button style="background: rgb(255 196 57) !important;" class="btn paymentButton">
                    <img class="btnImage" src="../../assets/images/paypal.png">
                </button>
            </div>
            <div class="col-lg-3 p-1">
                <button style="background: rgb(17, 17, 17) !important;" class="btn paymentButton">
                    <img class="btnImage" src="../../assets/images/google-pay.png">
                </button>
            </div>
            <div class="col-lg-3 p-1">
                <button style="background: rgb(0 140 255) !important;" class="btn paymentButton">
                    <img style="filter: brightness(4.5);" class="btnImage" src="../../assets/images/vemo.png">
                </button>
            </div>
        </div>

        <p class="mt-3 mb-3 text-center text-secondary" style="font-size: 12px !important;">OR</p>

        <h5 class="m-0 mb-3">Contact</h5>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email or mobile phone number">
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Email me with news and offers
            </label>
        </div>
        <h5 class="my-3">Delivery</h5>
        <div class="form-floating mt-3 mb-3">
            <select style="height: 60px !important;font-size: 13px !important;" class="form-select" id="floatingSelect"
                aria-label="Floating label select example">
                <option selected>United States</option>
            </select>
            <label for="floatingSelect">Country/Region</label>
        </div>

        <div class="row">
            <div class="col-lg-6 p-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="First name (optional)">
                </div>
            </div>
            <div class="col-lg-6 p-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Last name (optional)">
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Company name (optional)">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Address">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Appartment, suite, etc. (optional)">
        </div>

        <div class="row">
            <div class="col-lg-4 p-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="City">
                </div>
            </div>
            <div class="col-lg-4 p-1">
                <select style="height: 45px !important;font-size: 13px !important;" class="form-select"
                    aria-label="Default select example">
                    <option>Select State</option>
                    <option *ngFor="let state of states">{{state}}</option>
                </select>
            </div>
            <div class="col-lg-4 p-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="ZIP code">
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone (optional)">
        </div>

        <h6 class="m-0 my-4">Shipping method</h6>
        <div class="accordion mt-3 mb-3" id="shippingMethod">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#standard"
                        aria-expanded="true" aria-controls="standard">
                        Choose method
                    </button>
                </h2>
                <div id="standard" class="accordion-collapse collapse show" data-bs-parent="#shippingMethod">
                    <div style="border-bottom: 1px solid #dedede;" class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input radio-input pointer" type="radio" name="shippingMethod"
                                id="standardShipping">
                            <label class="form-check-label pointer" for="standardShipping">
                                Standard <br /> <small class="text-secondary">3 to 4 business days</small>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="standard" class="accordion-collapse collapse show" data-bs-parent="#shippingMethod">
                    <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input radio-input pointer" type="radio" name="shippingMethod"
                                id="economyShipping">
                            <label class="form-check-label pointer" for="economyShipping">
                                Economy <br /> <small class="text-secondary">5 to 6 business days</small>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="m-0 mb-2">Payment</h5>
        <p class="m-0" style="font-size: 13px !important;">All transactions are secure and encrypted.</p>


        <div class="accordion mt-3 mb-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#creditCard" (click)="updateSelectedPaymentMethod('creditCard')"
                        aria-expanded="true" aria-controls="creditCard">
                        Credit card
                        <div style="position: absolute;right: 0;">

                            <img class="me-2"
                                style="height: 40px;width: 40px;object-fit: contain !important;border-radius: 5px !important;"
                                src="../../assets/images/visa.jpeg">
                            <img class="me-2"
                                style="height: 40px;width: 40px;object-fit: contain !important;border-radius: 5px !important;"
                                src="../../assets/images/elo.png">
                            <img class="me-2"
                                style="height: 40px;width: 40px;object-fit: contain !important;border-radius: 5px !important;"
                                src="../../assets/images/master.png">
                            <img class="me-2"
                                style="height: 45px;width: 40px;object-fit: contain !important;border-radius: 5px !important;"
                                src="../../assets/images/amex.png">
                        </div>
                    </button>
                </h2>
                <div id="creditCard" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div style="background: #f4f4f4 !important;" class="accordion-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Card number">
                        </div>

                        <div class="row">
                            <div class="col-md-6 p-1">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Expiration date (MM/YY)">
                                </div>
                            </div>
                            <div class="col-md-6 p-1">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Security number">
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Name on card">
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#paypal" (click)="updateSelectedPaymentMethod('paypal')" aria-expanded="false"
                        aria-controls="paypal">
                        PayPal
                        <img style="height: 40px;z-index: 1 !important;width: 80px;object-fit: contain !important;border-radius: 5px !important;position: absolute;right: 0 !important;"
                            src="../../assets/images/paypal.png">
                    </button>
                </h2>
                <div id="paypal" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div style="background: #f4f4f4 !important;" class="accordion-body">
                        <div class="text-center">
                            After clicking "Pay with PayPal", you will be redirected to PayPal to complete your purchase
                            securely.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button style="padding:8px !important" class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" (click)="updateSelectedPaymentMethod('shoppay')"
                        data-bs-target="#shoppay" aria-expanded="false" aria-controls="shoppay">
                        <img class="me-2"
                            style="height: 30px;width: 40px;object-fit: contain !important;border-radius: 5px !important;"
                            src="../../assets/images/shoppay.png"> Pay in full or in installments
                    </button>
                </h2>
                <div id="shoppay" class="accordion-collapse collapse" data-bs-parent="#nexBillingInfo">
                    <div style="background: #f4f4f4 !important;" class="accordion-body">
                        <h6 class="m-0 mb-3">Billing address</h6>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button style="padding:8px !important" class="accordion-button collapsed " type="button"
                                    data-bs-toggle="collapse" aria-expanded="false" aria-controls="next">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Same as shipping address
                                        </label>
                                    </div>
                                </button>

                            </h2>
                            <div id="next" class="accordion-collapse collapse" data-bs-parent="#nexBillingInfo">
                                <div style="background: #f4f4f4 !important;" class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button style="padding:8px !important" class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#last" aria-expanded="false"
                                    aria-controls="last">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Use a different billing address
                                        </label>
                                    </div>
                                </button>
                            </h2>
                            <div id="last" class="accordion-collapse collapse" data-bs-parent="#accoronExample">
                                <div style="background: #f4f4f4 !important;" class="accordion-body">
                                    <div class="text-center">
                                        <div class="form-floating mt-3 mb-3">
                                            <select style="height: 60px !important;font-size: 13px !important;"
                                                class="form-select" id="floatingSelect"
                                                aria-label="Floating label select example">
                                                <option selected>United States</option>
                                            </select>
                                            <label for="floatingSelect">Country/Region</label>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 p-1">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control"
                                                        placeholder="First name (optional)">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 p-1">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control"
                                                        placeholder="Last name (optional)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control"
                                                placeholder="Company name (optional)">
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Address">
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control"
                                                placeholder="Appartment, suite, etc. (optional)">
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4 p-1">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="City">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 p-1">
                                                <select style="height: 45px;font-size: 13px !important;"
                                                    class="form-select" aria-label="Default select example">
                                                    <option>Select State</option>
                                                    <option *ngFor="let state of states">{{state}}</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 p-1">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="ZIP code">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Phone (optional)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button (click)="submitCheckoutForm()"
            style="width: 100% !important;background-color: rgb(89 47 244) !important;color: white !important;height: 45px !important"
            class="btn btn-primary mb-5">
            {{ selectedPaymentMethod === 'paypal' ? 'Pay with PayPal' : 'Pay now' }}
        </button>

    </div>

    <!-- Right column -->

    <div style="height: 99vh !important; padding-top: 4em !important;" class="col-lg-6 p-4 right-column rightColumn">

        <div *ngFor="let item of cartItems" class="row border-bottom pb-4 mb-4">
            <div class="col-lg-2">
                <div>
                    <p class="totalBadge"><span class="badge">{{item.quantity}}</span></p>
                    <img class="productImg" [src]="item.picture">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">{{item.name}}</div>
                <div class="description">{{item.description}}</div>
            </div>
            <div class="col-lg-2">
                <div class="price text-end">{{ apiService.getOneItemTotalPrice(item) | currency: 'USD' }}</div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-9">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Discount code">
                </div>
            </div>
            <div class="col-lg-3 ps-4">
                <button class="btn btn-primary">Apply</button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <div style="font-size: 14px;" class="text-start">Subtotal</div>
            </div>
            <div class="col-lg-5">
                <div style="font-weight: 600 !important;font-size: 14px !important;" class="text-end">
                    {{apiService.getSubTotal() | currency: 'USD'}}
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <div style="font-size: 14px;" class="text-start">Shipping</div>
            </div>
            <div class="col-lg-5">
                <div style="font-weight: 600 !important; font-size: 13px !important;" class="text-end">FREE</div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <div style="font-size: 14px;" class="text-start">Estimated taxes
                    <i class="fa fa-question-circle"></i>
                </div>
            </div>
            <div class="col-lg-5">
                <div style="font-weight: 600 !important; font-size: 13px !important;" class="text-end">
                    {{apiService.taxesFee | currency: 'USD'}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div style="font-size: 20px;font-weight: bold !important;" class="text-start">Total</div>
            </div>
            <div class="col-lg-5">
                <div style="font-size: 20px !important;font-weight: bold !important;" class="text-end"><span
                        style="font-size: 12px !important;color:gray;font-weight: 400 !important;">USD</span>
                    {{apiService.taxesFee + apiService.getSubTotal()}}
                </div>
            </div>
        </div>

    </div>

</div>