<app-header></app-header>
<div class="headerBg"></div>

<div class="row px-5 main-container">

    <div class="col-lg-6 px-5 left-column mt-4">
        
    </div>

    <!-- Right column -->

    <div style="height: 99vh !important; padding-top: 4em !important;" class="col-lg-6 p-4 right-column rightColumn">

        <div *ngFor="let item of cartItems" class="row border-bottom pb-4 mb-4">
            <div class="col-lg-2">
                <div>
                    <p class="totalBadge"><span class="badge">{{item.quantity}}</span></p>
                    <img class="productImg" [src]="item.picture">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">{{item.name}}</div>
                <div class="description">{{item.description}}</div>
            </div>
            <div class="col-lg-2">
                <div class="price text-end">{{ apiService.getOneItemTotalPrice(item) | currency: 'USD' }}</div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-9">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Discount code">
                </div>
            </div>
            <div class="col-lg-3 ps-4">
                <button class="btn btn-primary">Apply</button>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <div style="font-size: 14px;" class="text-start">Subtotal</div>
            </div>
            <div class="col-lg-5">
                <div style="font-weight: 600 !important;font-size: 14px !important;" class="text-end">
                    {{apiService.getSubTotal() | currency: 'USD'}}
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <div style="font-size: 14px;" class="text-start">Shipping</div>
            </div>
            <div class="col-lg-5">
                <div style="font-weight: 600 !important; font-size: 13px !important;" class="text-end">FREE</div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6">
                <div style="font-size: 14px;" class="text-start">Estimated taxes
                    <i class="fa fa-question-circle"></i>
                </div>
            </div>
            <div class="col-lg-5">
                <div style="font-weight: 600 !important; font-size: 13px !important;" class="text-end">
                    {{apiService.taxesFee | currency: 'USD'}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div style="font-size: 20px;font-weight: bold !important;" class="text-start">Total</div>
            </div>
            <div class="col-lg-5">
                <div style="font-size: 20px !important;font-weight: bold !important;" class="text-end"><span
                        style="font-size: 12px !important;color:gray;font-weight: 400 !important;">USD</span>
                    {{apiService.taxesFee + apiService.getSubTotal()}}
                </div>
            </div>
        </div>

    </div>

</div>